source/Microsoft.TeamFoundation.TestManagement.Common/testvariable.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="TestVariables">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="TestVariable">
                    <xs:complexType mixed="true">
                        <xs:sequence minOccurs="0">
                            <xs:element maxOccurs="unbounded" name="AllowedValue">
                                <xs:complexType>
                                    <xs:attribute name="value" type="xs:string" use="required" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="name" type="xs:string" use="required" />
                        <xs:attribute name="description" type="xs:string" use="optional" />
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>